* {
    margin:0px;
    padding:0px;
}
#image6 {
  margin-left: 600px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
}
#image9 {
  position: absolute;
  z-index: 0;
  width: 98%;
  height: 300px;
  margin-left: 1%;
  margin-right: 1%;
}
#textoblanco {
  color: white;
  z-index: 2;
  position: absolute;
  margin-top: 5%;
  margin-left: 50%;
  font-size: 50px;
}
#logoyfondoverde {

  width: 98%;
}
 #header {
     /*margin:auto;*/
     width:500px;
     font-family:Arial, Helvetica, sans-serif;
     z-index: 2;
     position: relative;
 }

 ul, ol {
     list-style:none;
 }

 .nav > li {
     float:left;
 }

 .nav li a {
     background-color:#fff;
     color:#5ba545;
     text-decoration:none;
     padding:10px 12px;
     display:block;
 }

 .nav li a:hover {
     background-color:#5ba545;
     color:#fff;
     border-radius: 15px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
 }

 .nav li ul {
     display:none;
     position:absolute;
     min-width:140px;
 }

 .nav li:hover > ul {
     display:block;
 }

 .nav li ul li {
     position:relative;
 }

 .nav li ul li ul {
     right:-140px;
     top:0px;
 }
